<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>QATAR - @ViewBag.Title</title>
    <link href="~/Client/css/less/site.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/client/jsLib/bootstrap-3.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("headContent", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="navigation">
        </div>
        <div class="page-content">
            <div class="container">
                <header class="page-header">
                    @RenderSection("header", false)
                </header>
            </div>
            <!--main content-->
            @RenderBody()
        </div>
        <div class="push"></div>
    </div>
    <div class="footer">
        @RenderSection("footerContent", required: false)
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @*<script src="https://code.jquery.com/jquery.js"></script>*@
    <script src="~/Client/jsLib/jquery-1.x/jquery-1.10.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/client/jsLib/bootstrap-3.1.0/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
